# TigerCloud (Postgres) connection string, e.g.:
# postgresql+psycopg://user:password@host:port/dbname?sslmode=require
DATABASE_URL=

# AWS 
AWS_ACCESS_KEY=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET=quick-chat-storage