# TigerCloud (Postgres) connection string, e.g.:
# postgresql+psycopg://user:password@host:port/dbname?sslmode=require
DATABASE_URL=
DB_USERNAME=root
DB_PASSWORD=root
DB_HOST=localhost
DB_PORT=5432
DB_NAME=quick_chat

# AWS 
AWS_ACCESS_KEY=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET=quick-chat-storage